.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.button {
  padding: 10px 20px;
  margin-top: 10px; 
  background-color: white;
  border: 1px solid #213140;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #213140;
  color: #fff;
}
